<%-include('./partials/head') %> <%-include('./partials/header') %>
<div class="container w-50">
  <h2 class="mt-3 mb-3"><%=subtitle %></h2>
  <% if(message.length>0) {%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <% message.forEach(prod=>{ %>
      <tr class="align-middle">
        <th scope="row"><%=prod.id%></th>
        <td><%=prod.title%></td>
        <td><%=prod.price%></td>
        <td>
          <img src="<%=prod.thumbnail%>" class="img-thumbnail shadow-sm" width="80" height="80" alt="<%=prod.title%>" />
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <div class="bg-warning rounded">
    <h5 class="p-3">No hay productos en la lista</h5>
  </div>
  <% } %>

  <a href="/"><button class="btn btn-success container mt-3">Cargar Productos</button></a>
</div>
